* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

button:focus {
  outline: none;
}

.navbar {
  height: auto;
  background-color: rgb(246, 246, 246);
  box-shadow: 1px 1px 10px rgb(160, 160, 160);
  position: relative;
  z-index: 3;
}

.navbar.hide {
  z-index: 1;
}

.navbar-components {
  width: 100%;
}

.navbar-components {
  max-width: 79.625rem;
}

.fs-2 {
  font-size: 1.5rem;
}

.fs-3 {
  font-size: 2rem;
}

.fs-5 {
  font-size: 1.125rem;
}

.hamburger {
  height: 1.25rem;
  width: auto;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  background-color: none;
  border: none;
  background-color: transparent;
}

.hamburger:focus {
  outline: none;
}

/*Create hamburger button icon */
.hamburger > span {
  width: 1.6875rem;
  height: 0.1874rem;
  border-radius: 5px;
  background-color: rgb(29, 29, 29);
  transition: 200ms ease-in-out;
}

/*Animate hamburger icon */
.hamburger.open > span:first-child {
  transform-origin: top right;
  transform: rotate(-45deg);
}

.hamburger.open > span:nth-child(2) {
  opacity: 0;
}

.hamburger.open > span:last-child {
  transform-origin: 95% 100%;
  transform: rotate(45deg);
}

.search {
  width: 40%;
  margin-left: auto;
}

.mobile-search-btn {
  display: none;
}

.search-btn {
  background-color: white;
  color: gray;
  border: 1px solid #ced4da;
  border-right: none;
}

.links {
  width: 20%;
  height: 100%;
}

.main-container {
  padding-top: 3.5625rem;
  height: auto;
  /* padding-left: 12.5rem; */
  max-width: 79.625rem;
}

.side-navbar,
.side-navbar-search {
  height: 100vh;
  width: 30%;
  background-color: white;

  transition: 200ms ease-in-out;
  position: relative;
}

.side-menu {
  height: 100%;
  position: fixed;
  width: 23%;
  border-right: 1px solid rgb(192, 192, 192);
  max-width: 294px;
}

.post-question-menu {
  width: 100%;
}

.side-navbar-search {
  width: 20%;
}

.side-navbar.open {
  transform: translateX(-2%);
}

.main-content {
  padding: 0;
}

.header-question {
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(192, 192, 192);
}

.header-question .title {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.question-container {
  height: auto;
  width: 100%;
}

.questions {
  height: auto;
}

.answers-count {
  font-size: 1.25rem;
}

.col1 {
  height: auto;
  max-width: 940px;
}

.col1 .question-voting-flex {
  width: 100%;
  height: auto;
}

.vote {
  width: 3.125rem;
  height: auto;
}

.vote {
  color: rgb(197, 197, 197);
}

.vote button {
  width: 3.125rem;
  height: 3.125rem;
  background-color: transparent;
  border: none;
}

.vote .fas {
  color: rgb(197, 197, 197);
  transition: 200ms ease-in;
}
.col2 {
  width: 50%;
  height: auto;
}

.tags {
  height: auto;
}

.tags a {
  margin-right: 3px;
  text-decoration: none;
  background-color: rgb(190, 234, 245);
  padding: 0.2rem 0.5rem;
}

.share-options a {
  margin-right: 3px;
  text-decoration: none;
}
.ads {
  box-shadow: 1px 1px 5px rgb(187, 187, 187);
  width: 100%;
  height: 100%;
  min-height: 22.5rem;
  border-radius: 30px;
}

/*Styles for post-question.html*/
.nav-display {
  height: 3.75rem;
}

.ask-ads-flex {
  position: relative;
  z-index: 1;
}
.ask-container,
.ads-container {
  min-height: 12.5rem;
  border-radius: 2px;
  box-shadow: 1px 1px 5px rgb(187, 187, 187);
}

.ask-container {
  width: 70%;
}

.ads-container {
  width: 25%;
  height: auto;
  min-width: 12.5rem;
}

.post-menu {
  z-index: 2;
  transform: translateX(-250%);
  top: 0;
  padding-top: 3.313rem;
  width: 14.735rem;
}

.post-container {
  max-width: 79.625rem;
  width: 90%;
}

.tags-input {
  border: 1px solid #ced4da;
  padding: 0.2rem;
  border-radius: 0.25rem;
}

.main-input-tag {
  border: none;
  min-width: 3.25rem;
}

.tag-btn {
  display: inline-block;
  border: 1px solid #ced4da;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin: 0.625rem;
  transition: 200ms ease-in-out;
}

.tag-btn:hover {
  background-color: aquamarine;
}

.body-container {
  height: auto;
}

.modal-backdrop {
  position: relative;
  z-index: 3;
}

.modal,
.show,
.modal-dialog {
  transform: translateY(18%);
}

.note-editing-area {
  position: relative;
  z-index: 1;
}

.note-editing-area ol,
.note-editing-area ul {
  margin-left: 1rem;
}

.note-dropdown-menu,
.dropdown-menu,
.show {
  z-index: 2;
}

.note-editor,
.note-frame,
.panel,
.panel-default,
.fullscreen {
  position: relative;
  z-index: 1;
  background-color: white;
}

.note-icon-caret {
  display: none;
}

.modal-header {
  display: flex;
  align-items: center;
}

/* Search */
.search-container {
  padding-top: 3.5625rem;
  max-width: 79.625rem;
}

.header-search {
  height: auto;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(192, 192, 192);
}

.header-search .title {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.result-span {
  font-size: 0.975rem;
  color: rgb(109, 109, 109);
  font-weight: 300s;
  margin: 1.2rem 0rem;
}

.result-btn-controls > button {
  padding: 0.5rem;
  background-color: white;
  border: 1px solid rgb(102, 102, 102);
}

.result-btn-controls .newest-btn {
  border-right: none;
  border-left: none;
}

.result-btn-controls .relevance-btn {
  border-radius: 5px 0px 0px 5px;
}

.more-drop {
  position: relative;
}

.result-btn-controls .more-drop .more-drop-btn {
  border-radius: 0px 5px 5px 0px;
  padding: 0.5rem;
  background-color: white;
  border: 1px solid rgb(102, 102, 102);
}

.result-btn-controls .more-drop button i {
  margin-left: 10px;
}

.drop-option {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 1px 5px rgb(95, 95, 95);
  border: none;
  border-radius: 5px;
}

.drop-option > button {
  padding: 0.5rem;
  background-color: white;
  border: none;
  color: rgb(62, 138, 224);
}

.drop-option button:nth-child(1) {
  border-radius: 5px 5px 0px 0px;
  border-bottom: 1px solid rgb(148, 148, 148);
}

.drop-option button:nth-child(2) {
  border-radius: 0px 0px 5px 5px;
}

.search-vote-answers-container {
  width: 13%;
  min-width: 70px;
}

.main-search-item {
  width: 87%;
}

.search-item-title-container {
  font-size: 1.25em;
  color: #0069d9;
}

.search-vote-container,
.search-answer-container {
  color: #7c7c7c;
}
/*Add responsive design */
@media screen and (max-width: 768px) {
  .navbar {
    z-index: 3;
  }
  .main-container {
    padding-left: 0;
    position: relative;
  }

  .ask-btn {
    margin-top: 0.625rem;
  }

  .side-navbar {
    position: fixed;
    transform: translateX(-250%);
    z-index: 2;
    top: 0;
    padding-top: 3.37rem;
    width: 14.735rem;
  }

  .side-menu {
    width: 100%;
  }

  .side-navbar.open {
    transform: translateX(0%);
  }

  .post-container {
    width: 100%;
  }
  .post-menu.open {
    transform: translateX(-1%);
  }

  .col2 {
    width: 100%;
  }

  .logo {
    margin-right: auto;
  }

  .links {
    width: 50%;
  }

  .mobile-search-btn {
    background-color: transparent;
    border: none;
    color: #5c636a;
    outline: none;
  }

  .mobile-search-btn:hover {
    background-color: transparent;
    color: #5c636a;
  }

  .search {
    position: absolute;
    transform: translate(-0.9375rem, -15.5625rem);
    width: 100%;
    padding: 0;
  }

  .search.open {
    transform: translate(-1.25rem, 2.8125rem);
  }
  .header-question .title {
    width: 100%;
  }
  .col2 {
    max-width: 100%;
  }

  .ask-container {
    width: 100%;
  }

  .ads-container {
    width: 100%;
  }
}
